.click_reveal>span {
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.click_reveal>div {
    display: none;
}